body{
	color:#333;
}
.container{
	width:960px;
	margin:0 auto;
}
header{
	height:250px;
	background-image:url(../images/header_bg.png);
	background-size:cover;
}
header h1{
	font-size:80px;
	text-align:Center;
	line-height:250px;
}
nav ul{
	display:flex;
	/*column:縦並び row:横並び*/
	flex-direction:row;
	justify-content:flex-end;
	padding:5px 30px;
	background:#666;
}
nav ul li a{
	display:block;
	padding:5px 10px;
	border-radius:5px;
	background:#999;
	color:white;
	text-decoration:none;
	margin:5px 10px;
	border:1px solid #333;
}
div[role="main"]{
	background:#eee;
	padding:30px 30px 70px;
}
h2{
	text-align:center;
	font-size:30px;
	margin-top:30px;
}
h2+p{
	text-align: center;
	margin-bottom:20px;
}

#infoBox{
	display: flex;
	/*align-items:center;*/
}
#infoBox .info{
	position:relative;
	border-radius:5px;
	border:1px solid #333;
	margin:20px 10px;
	background:white;
	min-width:220px;
}
#infoBox .info h3{
	padding:5px 20px;
	background:#666;
	color:#eee;
}
#infoBox .info p{
	padding:10px 20px 30px;
}
#infoBox .info p a{
	/*absolute 
	 * 基準点(たぶんposition)に対して、絶対配置
	 * 親の位置を基準点とする
	 * 直近の親になければ、どんどん遡る*/
	position:absolute;
  bottom:10px;
	right:15px;
}
#blogBox{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}
.blogItem{
	position:relative;
	display:flex;
	flex-direction:row;
	align-items:flex-start;
	flex-basis:43%;
	border:1px solid #333;
	border-radius:5px;
	padding:16px 16px 30px;
	margin:10px;
	background:white;
}
.blogItem img{
	width:130px;
}
.blogItem > a{
	position:absolute;
	bottom:10px;
	right:20px;
}
.blogItem:nth-child(even){
	flex-direction:row-reverse;
}
.blogItem:nth-child(odd) img{
	margin-right:10px;
}
.blogItem:nth-child(even) img{
	margin-left:10px;
}
footer{
	text-align: center;
	padding:10px 0;
	background:#666;
	color:white;
}
